// Colors
$clr1: #ff7518;
$clr2: white;
$clr3: #727989;
$clr4: #e6e9ef;
$clr5: #181818;
$clr7: #ced4da;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 780px;
$normal-breakpoint: 960px;
